* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
}
a {
  text-decoration: none;
  color: #000;
}
.wrap {
  height: 100%;
  padding: 50px 100px 20px;
}
.wrap .container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap .msg-form {
  z-index: 100;
  position: absolute;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 10px;
  display: flex;
  bottom: 200px;
  margin: 0 auto;
  width: 100% ;
  box-sizing: border-box;
  display: none;
}
.wrap .msg-form .close {
  position: absolute;
  right: 20px;
}
.wrap .msg-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrap .msg-form form button {
  margin: 15px 0 0;
  width: 50px;
  padding: 5px;
  font-size: 12px;
  border: none;
  background-color: #fff;
}
.wrap .msg-form form button .fa-paper-plane {
  display: block;
  line-height: 40px;
  font-size: 30px;
  color: #E25716;
}
.wrap .msg-form #fs-frm-inputs {
  display: flex;
  flex-direction: column;
  border: none;
}
.wrap .msg-form #fs-frm-inputs label {
  margin: 10px 0;
}
.wrap .msg-form #fs-frm-inputs input,
.wrap .msg-form #fs-frm-inputs textarea {
  padding: 5px;
  background-color: #f5f5f5;
  border: none;
  color: #2A89AF;
}
.wrap .msg-form #fs-frm-inputs input:focus,
.wrap .msg-form #fs-frm-inputs textarea:focus {
  outline-color: #E25716;
}
.header {
  display: flex;
  align-items: flex-end;
  flex-shrink: 1;
}
.header .left-menu,
.header .logo,
.header .right-menu {
  width: 500px;
}
.header .left-menu,
.header .right-menu {
  justify-content: space-between;
}
.header .logo {
  order: 1;
  display: flex;
  justify-content: center;
}
.header .logo a {
  display: block;
  width: 110px;
}
.header .logo a img {
  width: 100%;
}
.header .left-menu {
  display: flex;
  align-items: flex-end;
}
.header .left-menu .home-icon a {
  display: block;
  width: 40px;
}
.header .left-menu .home-icon a img {
  width: 100%;
}
.header .right-menu {
  order: 2;
  display: flex;
}
.works-area {
  margin: 50px 0;
}
.works-area .page1 {
  display: flex;
  flex-wrap: wrap;
}
.works-area .page1 .items {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.works-area .page1 .items img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer .jiin-ig-item,
.footer .san-ig-item,
.footer .email-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer .copyright {
  align-self: flex-end;
}
.footer a {
  display: block;
  width: 35px;
  margin-right: 10px;
}
.footer a img {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .header .left-menu .menu-jiin a {
    display: block;
    padding-right: 40px;
  }
  .header .right-menu .menu-san a {
    display: block;
    padding-left: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .wrap {
    padding-top: 150px;
    position: relative;
  }
  .header {
    padding-top: 28px;
  }
  .header .logo {
    position: absolute;
    top: -95px;
    right: 0;
    justify-content: end;
    width: 88px;
  }
  .header .left-menu .home-icon {
    position: absolute;
    left: 0;
    top: -44px;
  }
  .header .right-menu {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .works-area .page1 .items {
    width: 33%;
  }
}
@media screen and (max-width: 750px) {
  .wrap {
    padding: 150px 60px 20px;
  }
  .footer {
    flex-direction: column;
  }
  .footer .copyright {
    align-self: flex-start;
  }
}
@media screen and (max-width: 650px) {
  .header .right-menu {
    width: 700px;
  }
}
@media screen and (max-width: 500px) {
  .wrap {
    padding: 100px 50px 20px;
  }
  .header .logo {
    width: 66px;
    top: -72px;
  }
  .works-area .page1 .items {
    width: 50%;
  }
  .footer .link-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .link-wrap .jiin-ig-item,
  .footer .link-wrap .san-ig-item,
  .footer .link-wrap .email-item {
    flex-direction: column;
    justify-content: center;
    font-size: smaller;
  }
  .footer .link-wrap .jiin-ig-item a,
  .footer .link-wrap .san-ig-item a,
  .footer .link-wrap .email-item a {
    margin-right: 0;
  }
  .footer .copyright {
    font-size: smaller;
  }
}
@media screen and (max-width: 400px) {
  .works-area .page1 .items {
    width: 100%;
  }
}
.gray-area {
  display: none;
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.281);
  top: 0;
}
/*# sourceMappingURL=./index.css.map */