* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
}
a {
  text-decoration: none;
  color: #000;
}
.msg-form {
  z-index: 100;
  position: fixed;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 10px;
  display: flex;
  margin: 200px auto 0;
  width: 70% ;
  box-sizing: border-box;
  display: none;
}
.msg-form .close {
  position: absolute;
  right: 20px;
}
.msg-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.msg-form form button {
  margin: 15px 0 0;
  width: 50px;
  padding: 5px;
  font-size: 12px;
  border: none;
  background-color: #fff;
}
.msg-form form button .fa-paper-plane {
  display: block;
  line-height: 40px;
  font-size: 30px;
  color: #E25716;
}
.msg-form #fs-frm-inputs {
  display: flex;
  flex-direction: column;
  border: none;
}
.msg-form #fs-frm-inputs label {
  margin: 10px 0;
}
.msg-form #fs-frm-inputs input,
.msg-form #fs-frm-inputs textarea {
  padding: 5px;
  background-color: #f5f5f5;
  border: none;
  color: #2A89AF;
}
.msg-form #fs-frm-inputs input:focus,
.msg-form #fs-frm-inputs textarea:focus {
  outline-color: #E25716;
}
.gray-area {
  display: none;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.281);
  top: 0;
}
.works-area {
  position: relative;
  justify-content: center;
}
.works-area .works-show {
  z-index: 1000;
  position: absolute;
  display: flex;
  width: 75%;
  padding: 20px 20px;
  box-sizing: border-box;
  border: 2px solid #666;
  background-color: #fff;
  display: none;
}
.works-area .works-show .works-img {
  position: relative;
  padding-right: 20px;
  width: 60%;
  height: 100%;
  overflow: hidden;
}
.works-area .works-show .works-img img {
  width: 100%;
  height: 100%;
}
.works-area .works-show .works-img::before {
  content: url(/imgs/left-arrow.svg);
  width: 25px;
  height: 25px;
  background-color: #fff;
  padding: 2px 3px 3px 1px;
  left: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.361);
}
.works-area .works-show .works-img::after {
  content: url(/imgs/right-arrow.svg);
  width: 25px;
  height: 25px;
  background-color: #fff;
  padding: 2px 1px 2px 2px;
  right: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.361);
}
.works-area .works-show .works-txt {
  width: 40%;
  padding: 10px 10px 0 0;
}
.works-area .works-show .works-txt h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px 0;
}
.works-area .works-show .works-txt p {
  padding: 10px 0;
  font-weight: bold;
}
.works-area .works-show .works-txt p span {
  font-size: smaller;
  font-weight: normal;
}
.works-area .works-show a {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #666;
  color: #fff;
  right: -22px;
  top: -2px;
}
@media screen and (min-width: 1280px) {
  .header .left-menu .menu-jiin a {
    display: block;
    padding-right: 40px;
  }
  .header .right-menu .menu-san a {
    display: block;
    padding-left: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .j-header,
  .s-header {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .wrap {
    padding-top: 150px;
    position: relative;
  }
  .container .header {
    padding-top: 28px;
  }
  .header .logo {
    position: absolute;
    top: -95px;
    right: 0;
    justify-content: end;
    width: 88px;
  }
  .header .left-menu .home-icon {
    position: absolute;
    left: 0;
    top: -44px;
  }
  .header .right-menu {
    width: 600px;
  }
  .works-area .js-items {
    width: 33%;
  }
  .works-area .works-show .works-img::before {
    width: 20px;
    height: 20px;
  }
  .works-area .works-show .works-img::after {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 900px) {
  .works-area .works-show {
    flex-direction: column;
  }
  .works-area .works-show .works-img,
  .works-area .works-show .works-txt {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 95%;
  }
  .works-area .works-show .works-img::after {
    right: 10px;
  }
  .works-area .works-show .works-img {
    padding-right: 0px;
  }
  .works-area .works-show .works-txt h3,
  .works-area .works-show .works-txt p {
    padding: 5px 0;
  }
}
@media screen and (max-width: 768px) {
  .works-area .page1 .items {
    width: 33%;
  }
  .js-wrap .js-footer {
    justify-content: center;
  }
  .js-wrap {
    margin: 0 50px;
  }
  .js-wrap .j-header,
  .js-wrap .s-header {
    margin-top: 0px;
  }
  .js-wrap .works-area {
    margin: 30px auto 100px;
  }
}
@media screen and (max-width: 750px) {
  .wrap {
    padding: 150px 60px 20px;
  }
  .footer {
    flex-direction: column;
  }
  .footer .copyright {
    align-self: flex-start;
  }
}
@media screen and (max-width: 650px) {
  .header .right-menu {
    width: 700px;
  }
  .js-wrap {
    margin: 0 30px;
  }
  .js-wrap .title {
    letter-spacing: 2px;
  }
  .js-wrap .works-area {
    margin-top: 0;
  }
}
@media screen and (max-width: 500px) {
  .wrap {
    padding: 100px 50px 20px;
  }
  .header .logo {
    width: 66px;
    top: -72px;
  }
  .works-area .page1 .items {
    width: 50%;
  }
  .works-area .js-items {
    width: 50%;
  }
  .works-area .works-show .works-txt p {
    font-size: smaller;
  }
  .footer .link-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .link-wrap .jiin-ig-item,
  .footer .link-wrap .san-ig-item,
  .footer .link-wrap .email-item {
    flex-direction: column;
    justify-content: center;
    font-size: smaller;
  }
  .footer .link-wrap .jiin-ig-item a,
  .footer .link-wrap .san-ig-item a,
  .footer .link-wrap .email-item a {
    margin-right: 0;
  }
  .footer .copyright {
    font-size: smaller;
  }
  .js-wrap .works-area {
    margin: 0 auto 100px;
  }
}
@media screen and (max-width: 450px) {
  .j-header .title,
  .s-header .title {
    margin: 60px 80px 50px;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .works-area .page1 .items {
    width: 100%;
  }
  .works-area .js-items {
    width: 100%;
  }
  .works-area .works-show .works-img::before {
    width: 15px;
    height: 15px;
    left: 5px;
    padding: 0px 2px 2px 0px;
  }
  .works-area .works-show .works-img::after {
    width: 15px;
    height: 15px;
    right: 5px;
    padding: 0px 0px 2px 2px;
  }
  .j-header .title,
  .s-header .title {
    margin: 50px 60px 30px;
    text-align: center;
  }
}
/*# sourceMappingURL=./shared.css.map */